/* signalStyle.css Cory Lotz 12/8/2014 */

 html, body, #map-canvas {
	height: 88%;
	margin: .5%;
	padding: 0%;
	background-color: #B2E0FF;

}

button{
	border-width: .3em;
	border-color: #520052;
	font-size: 1.3em;
	color: #ffffff;
	background-color: #00007A;
	padding: 1%;
	margin: .5em;
}

button:hover{
	border-color: red;

}